# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.python-version
.env
.envrc
.venv
env/
venv/

# MacOS
.DS_Store

# Visual Studio Code
.vscode/
.gemini/
.claude/
